.list_of_community_reviews {
  display: flex;
  padding: 2rem;
  & > div:nth-of-type(2) {
    max-width: 55rem;
    padding: 0 2rem;

    p:nth-of-type(1) {
      display: inline;
    }
    i{
      color: #27ae60;  
      font-size: 1.6rem;
      padding: 0 1rem;
      cursor: pointer;
      &:nth-of-type(2){
        color: #2c3e50;
      }
    }
  }
}
