.Home_Searchbar{
   margin-top: 1rem;
    form{
        font-size: 1.6rem;
        text-align: center;
        input{
            width: 80%;
            padding: 1rem;
            outline: none;
            box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.20);
            border: .1rem solid #FFC886;
        }
    }
}