.Home_Searchbar{
   margin-top: 1rem;
    form{
        font-size: 1.6rem;
        text-align: center;
        input{
            width: 80%;
            padding: 1rem;
            outline: none;
        }
    }
}