.Login_section {
  background: linear-gradient(rgba(10, 10, 10, 0.87), rgba(10, 10, 10, 0.856)),
    url(../../assets/login_bg.jpg) no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100vw;
  height: calc(100vh - 3.6rem);
  margin: 0 auto;
}
